body{
    font-family: 'Nunito', sans-serif;
    font-family:var(--tw-contrast);
    font-size: 2rem;
    background-color:cadetblue;
}
nav a{
    padding: 3.5rem;
}

li{
    list-style-type: none;
    border: 2px solid;
    border-radius: 5px;
    background: antiquewhite;
    padding: 10px;
    margin: 5px;
}
li:hover{
    background: #f74747;
}
form{
    border: 0px solid #dddddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px #000f;
}
form div{
    margin: 10px;
}
form input{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.9rem;
    font-family: 'Nunito';
}
form label{
    display: inherit;
    font-size: 1.3rem;
    padding-bottom: 3px;
    color: #b0aeae;
}
form button{
    border: 2px solid #00000f;
    padding: 10px 25px;
    font-size: 1.5rem;
    margin: 10px 0;
    border-radius: 5px;
}
.form-error{
    margin: 0;
    font-size: .9rem;
    color: red;
}
.edit-btn{
    color: rgb(31, 159, 202);
    text-decoration: underline;
    font-size: 1.5rem;
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right:40px;
    margin-left: 50px;
    margin-top: 10px;
    position:fixed;
    border: 2px solid #00000f;
}
.edit-btn:hover{
    background-color: #0056b3;
    color: #ffffffff;
}
.delete-btn{
    color: rgb(229, 102, 144);
    text-decoration: underline;
    font-size: 1.5rem;
    background: #ffffffff;
    border: none;
    display:block;
    padding: 5px 10px;
    background-color: #ffffffff;
    border-radius: 10px;
    cursor: pointer;
    position:fixed;
    margin-left: 120px;
    margin-right: 50px;
    border: 2px solid #00000f;
}
.delete-btn:hover {
  background-color: #0056b3;
  color: #ffffffff;
}
